.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.rate-container {
  margin-top: 20px;
  border-top: 2px solid #FFD700;
}

.rate-container .fa-star {
  font-size: 1.8rem;
  cursor: pointer;
}

.movie-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.movie-item svg {
  font-size: 1.2rem;
  margin: 16px 5px;
}

.login {
  width: 50%;
  margin: 0 25%;

}

input, textarea {
  width: 70%;
  padding: 10px;
  margin: 8px 0;
  font-size: 0.8rem; 
}

button {
  color: black;
  background-color: green;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
}

button:disabled {
  background-color: red;
}

.create-button {
  color: white;
  background-color: green;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
}

.create-button:disabled {
  color: white;
  background-color: red;
  cursor: not-allowed;
}

h1 {
  color: #FFD700;
  margin-right: 38%; 
}

.fa-sign-out-alt {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.movie-details {
  color: gray;
  grid-row: 1;
  text-align: center;
  width: 100%;
}

.movie-list {
  grid-row: 2;
}

.failure-container {
  text-align: center;
  background-color: #FFD700;
  color: #282c34;
  border: 1px solid #FFD700;
  width: 36%;
  height: 25%;
  margin: 0 25%;
  box-sizing: border-box;
  padding: 30px 20px;
}

.authentication-container {
  background-color: white;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 70px;
}

.home {
  background: url("./images/home-background.jpg") no-repeat center center fixed; 
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}

header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFD700;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

.button-home {
  background-color: #FFD700; /* Green */
  color: black;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-home:hover {
  background-color: black; /* Green */
  color: #FFD700;
  border: 2px solid #FFD700;
}